<mat-card class="mt-1">
  <mat-card-header>
    <img src="/blog-personal/assets/images/avatar.png" class="avatar" alt="">
    <h1>Farid Rico</h1>
    <h2>Desarrollador web</h2>
    <h3>Medellín, Antioquia</h3>
  </mat-card-header>

  <mat-card-footer>
    <div class="row">
      <a class="social-icons" target="_black" href="https://www.facebook.com/fyrico">
        <fa-layers [fixedWidth]="true" [size]="iconSize">
          <fa-icon [icon]="faIcon.faFacebook"></fa-icon>
        </fa-layers>
      </a>
      <a class="social-icons" target="_blank" href="https://www.linkedin.com/in/yesidrico/">
        <fa-layers [fixedWidth]="true" [size]="iconSize">
          <fa-icon [icon]="faIcon.faLinkedin"></fa-icon>
        </fa-layers>
      </a>

      <a class="social-icons" target="_blank" href="https://github.com/YesidRico">
        <fa-layers [fixedWidth]="true" [size]="iconSize">
          <fa-icon [icon]="faIcon.faGithub"></fa-icon>
        </fa-layers>
      </a>

    </div>
  </mat-card-footer>
</mat-card>