<mat-card class="mt-1">
  <mat-card-header>
    <img src="/assets/images/avatar.png" class="avatar" alt="">
    <h1>Farid Rico</h1>
    <h2>Desarrollador web</h2>
    <h3>Medellín, Antioquia</h3>
  </mat-card-header>

  <mat-card-footer>
    <div class="row">
      <fa-layers [fixedWidth]="true" [size]="iconSize">
        <fa-icon [icon]="faIcon.faFacebook"></fa-icon>
      </fa-layers>
      <fa-layers [fixedWidth]="true" [size]="iconSize">
        <fa-icon [icon]="faIcon.faLinkedin"></fa-icon>
      </fa-layers>
      <fa-layers [fixedWidth]="true" [size]="iconSize">
        <fa-icon [icon]="faIcon.faGithub"></fa-icon>
      </fa-layers>
    </div>
  </mat-card-footer>
</mat-card>