<mat-card class="mt-1">
  <h1>Me deseas enviar un mensaje</h1>
  <mat-card-content>
    <form>
      <mat-form-field class="form-field">
        <input type="text" matInput placeholder="Nombre">
      </mat-form-field>
      <mat-form-field class="form-field">
        <input type="text" matInput placeholder="Correo">
      </mat-form-field>
      <mat-form-field class="form-field">
        <textarea style="height: 100px;" matInput placeholder="Mensaje"></textarea>
      </mat-form-field>
      <button mat-button>Enviar</button>
    </form>
  </mat-card-content>
</mat-card>