<mat-card class="mt-1">
  <mat-card-header>
    <h1>Habilidades</h1>
  </mat-card-header>
  <mat-card-content>
    <mat-chip-list>
      <mat-chip>Angular</mat-chip>
      <mat-chip>TypeScript</mat-chip>
      <mat-chip>Ionic</mat-chip>
      <mat-chip>Java 8</mat-chip>
      <mat-chip>Jpa</mat-chip>

      <mat-chip>Spring framework</mat-chip>
      <mat-chip>Spring boot</mat-chip>
      <mat-chip>Hibernate</mat-chip>
      <mat-chip>Sql</mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card>