.header-image{
    background-image: url('../../../../../assets/images/avatar.png');
    background-size: cover;
}
.date-text{
    float: right;
    line-height: 3;
}

.mat-card-actions {
    margin-left: 0px;
    margin-right: 0px;
    padding: 8px 0;
}
